@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(back.jpeg);
    background-size: cover;
}

.Contact .Content {
    max-width: 800px;
    text-align: center;
}

.Contact .Content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.Contact .Content p {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .Contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .Contactinfo .Box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .Contactinfo .Box .Icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .Contactinfo .Box .Text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .Contactinfo .Box .Text h3 {
    font-size: 500;
    color: #fff;
}

.ContactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.ContactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.ContactForm .InputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
    outline: none;
    border: none;
}

.ContactForm.InputBox input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    /* border-bottom: 2px solid #333; */
    outline: none;
    resize: none;
}

.ContactForm .InputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.ContactForm .InputBox input:focus~span,
.ContactForm .InputBox input:valid~span,
.ContactForm .InputBox textarea:focus~span,
.ContactForm .InputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.ContactForm .InputBox input {
    width: 100px;
    /* background: #00bcd4; */
    color: #333;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    outline: none;
}

@media (max-width :991px) {
    .Contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .Contactinfo {
        margin-bottom: 40px;
    }
    .container .Contactinfo {
        width: 100%;
    }
}